html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset above */

body {
  text-align: center;
  background-color: #202124;
  color: white;
  font-size: 2rem;
}

#game-intro-screen {
  padding: 20px 0px;
}

.toggle-demo-container {
  display: flex;
  align-items: center;
  align-content: center;
}

.demo-checkbox-button {
  background-color: #d2d2d2;
  width: 100px;
  height: 50px;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.demo-checkbox-button::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 45px;
  height: 45px;
  left: 0px;
  border-radius: 200px;
  margin: 2.5px;
  transition: 0.2s;
}

input:checked + .demo-checkbox-button {
  background-color: #20096d;
}

input:checked + .demo-checkbox-button::before {
  transform: translateX(50px);
}

input {
  display: none;
}

#container-game {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
}

#main-game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  margin: 100px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/background_default.png);
  background-size: cover;
}

#post-game-screen {
  display: none;
}

#game-pause-screen {
  display: none;
}

#highscore-screen {
  display: none;
}

#wave-ui,
#wave-timer,
#score-ui,
#level-ui,
#health-ui,
#bullet-dmg-ui,
#attack-speed-ui,
#skillpoints-ui {
  font-family: "Nova Square";
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  color: whitesmoke;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  position: absolute;
  z-index: 100;
}

#skillpoints-ui {
  top: 500px;
  left: 510px;
}
#skillpoints-ui img {
  height: 25px;
}

#bullet-dmg-ui {
  top: 580px;
  left: 510px;
}

#bullet-dmg-ui img {
  height: 25px;
}

#attack-speed-ui {
  top: 540px;
  left: 510px;
}

#attack-speed-ui img {
  height: 25px;
}

#wave-ui {
  top: 12px;
  left: 230px;
}

#wave-timer {
  top: 32px;
  left: 160px;
}

#score-ui {
  font-weight: 400;
  top: 10px;
  left: 430px;
}

#level-ui {
  font-size: 1rem;
  top: 623px;
  left: 250px;
}

#health-ui {
  font-size: 1.5rem;
  top: 10px;
  left: 10px;
  color: #ca323e;
}
#health-ui img {
  width: 21px;
  height: 20px;
}

#tooltips-ui p {
  line-height: 2rem;
  font-size: 1.5rem;
}

#tooltips-ui p img {
  height: 25px;
}

#boss-health-bar-border {
  display: none;
  position: absolute;
  top: 0px;
  left: 150px;
  height: 7px;
  width: 300px;
  border-width: 2px;
  border-style: solid;
  border-color: #090a0a;
  background-color: rgba(37, 36, 36, 0.212);
  z-index: 98;
}

#boss-health-bar {
  display: none;
  position: absolute;
  top: 2px;
  left: 152px;
  background-color: darkred;
  height: 7px;
  width: 300px;
  z-index: 99;
}

#experience-bar {
  position: absolute;
  top: 622px;
  left: 2px;
  background: rgb(252, 87, 87);
  background: linear-gradient(
    90deg,
    rgba(252, 87, 87, 1) 0%,
    rgba(239, 249, 87, 1) 50%,
    rgba(138, 250, 149, 1) 100%
  );
  height: 16px;
  width: 0px;
  z-index: 99;
}

#experience-bar-border {
  font-size: 0.45rem;
  color: black;
  font-weight: 1000;

  letter-spacing: 1.6rem;
  position: absolute;
  top: 620px;
  left: 0px;
  height: 16px;
  width: 599px;
  border-width: 2px;
  border-style: solid;
  border-color: #090a0a;
  background-color: rgba(37, 36, 36, 0.212);
  z-index: 98;
}
