html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset above */

body {
  text-align: center;
  background-color: #202124;
  color: white;
  font-size: 2rem;
}

#game-intro-screen {
  padding: 20px 0px;
}

#container-game {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
}

#main-game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  margin: 100px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/background_default.png);
  background-size: cover;
}

#post-game-screen {
  display: none;
}

#game-pause-screen {
  display: none;
}

#wave-ui,
#wave-timer,
#score-ui {
  font-family: "Nova Square";
  font-size: 1rem;
  letter-spacing: 0.05rem;
  color: white;
  position: absolute;
}

#wave-ui {
  top: 10px;
  left: 500px;
}

#wave-timer {
  font-size: 1rem;
  top: 30px;
  left: 500px;
}

#score-ui {
  font-size: 1rem;
  font-weight: 400;
  top: 10px;
  left: 10px;
}
